<div class='row'>
  <div class='col text-primary'>
    <h4>
      <%= l(Date.today, format: '%A %d %B %Y') %>
    </h4>
    <hr>
  </div>
</div>
<div class='row p-3'>
  <div class='col-12'>
    <div class='card shadow'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-4 text-absence'>
            <i class='fas fa-plane'></i>&emsp;Chi è in <strong>FERIE</strong>  Oggi?
            <hr/>
            <% @absences.each do |absence| %>
              <span class='text-absence'>
                <i class='fas fa-user-circle'></i>
                &nbsp;
                <%= absence.user.last_name %>
                &nbsp;
                <%= absence.user.first_name %>
                <br/>
              </span>
            <% end %>
          </div>
          <div class='col-4 text-holiday'>
            <i class='fas fa-bath'></i>&emsp;Chi ha preso <strong>ORE FERIE</strong> Oggi?
            <hr/>
            <% @holidays.each do |holiday| %>
              <%= holiday.user.last_name %>
              &nbsp;
              <%= holiday.user.first_name %>
              <br/>
            <% end %>
          </div>
          <div class='col-4 text-permit'>
            <i class='fas fa-battery-half'></i>&emsp;Chi è in <strong>PERMESSO</strong> Oggi?
            <hr/>
            <% @permits.each do |permit| %>
              <%= permit.user.last_name %>
              &nbsp;
              <%= permit.user.first_name %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row p-3'>
  <div class='col-12'>
    <div class='card shadow'>
      <div class='card-body text-primary'>
        <div class='row'>
          <div class='col text-disease'>
            <i class='fas fa-thermometer-half'></i>&emsp;Chi è in <strong>MALATTIA</strong> Oggi?
            <hr/>
            <% @diseases.each do |disease| %>
              <%= disease.user.last_name %>
              &nbsp;
              <%= disease.user.first_name %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
