<h3 class='text-primary'>
  <%= inline_svg_tag 'icon_calendar_month_diseases.svg', size: '96px * 48px', preserve_aspect_ratio: 'xMaxYMax meet' %>
  &emsp;
  Calendario MALATTIA - Mensile
</h3>
<hr class='hr-primary'/>
<%= month_calendar(events: @diseases) do |date, diseases| %>
  <% if date.wday == 0 || date.wday == 6 %>
  <% else %>
    <div class='card bg-light mb-1 shadow'>
      <div class='card-header text-center'>
        <span class='text-primary'>
          <i class='fas fa-calendar-day'></i>
          &nbsp;
          <%= l(date, format: '%a %d') %>
        </span>
        &emsp;
        <span class='text-secondary'>
          <%= l(date, format: '%b') %>
        </span>
      </div>
      <div class='card-body'>
        <% diseases.each do |disease| %>
          <%= link_to disease_path(disease), title: "#{disease.description}", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'  do %>
            <span style='color: <%= "#{disease.user.color.code}" %>;'>
              <i class='far fa-user'></i>
              &nbsp;
              <%= "#{disease.user.last_name} #{disease.user.first_name}".truncate(19) %>
            </span>
          <% end %>
          <br/>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
