<div class='card border-primary shadow' id='<%= dom_id permit %>'>
  <div class='card-header bg-primary %> text-white'>
    <strong>
      <span class='float-start'>
        <i class='fas fa-user-circle'></i>
        &nbsp;
        <%= permit_full_user(permit).upcase %>
        &emsp; Permesso
      </span>
      <span class='float-end'>
        <%= link_to permits_url , class: 'a-light' do %>
          <i class='fas fa-times'></i>
        <% end %>
      </span>
    </strong>
  </div>
  <div class='card-body'>
    <strong class='text-primary'>
      Data Inizio:&emsp;<%= l(permit.start_time, format: '%A %d %B %Y dalle: %H:%M') %>
      <br/>
      Data Fine&nbsp;&nbsp;:&emsp;<%= l(permit.end_time, format: '%A %d %B %Y dalle: %H:%M') %>
    </strong>
    <hr/>
    Zona:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= permit.user.zone.name %>
    <br/>
    Reparto:&nbsp;&nbsp;&nbsp;<%= permit.user.department.name %>
    <hr />
    Note:
    <br/>
    <%= permit.description %>
    <hr/>
    <br/>
    <div class='row'>
    </div>
    <span class='float-start'>
      <% if owner?(permit) %>
        <%= link_to edit_permit_path(@permit), class: 'btn btn-outline-light btn-sm', title: 'Modifica il record corrente', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do %>
          <i class='fas fa-edit text-warning'></i>
        <% end %>
      <% end %>
    </span>
    <span class='float-end'>
      <% if owner?(permit) %>
        <%= button_to @permit, method: :delete, form: {data: {turbo_confirm: 'Sicuri di voler eliminare il record corrente?'}}, class: 'btn btn-outline-light btn-sm', title: 'Elimina il record corrente', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do %>
          <i class='fas fa-trash-alt text-danger'></i>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
