<div class='row align-items-center'>
  <div class='col-lg-6 offset-3'>
    <div class='card card-login bg-primary'>
      <div class='card-body text-center'>
        <p>&nbsp;</p>
        <%= inline_svg_tag 'main_logo_white.svg', size: '475px * 87px', preserve_aspect_ratio: 'xMaxYMax meet' %>
        <br/>
        <br/>
        <br/>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='form-row align-items-center'>
            <div class='col'>
              <div class='input-group mb-1'>
                <span class='input-group-text'>
                  <i class='fas fa-user-astronaut text-primary'></i>
                </span>
                <%= f.text_field :username, autofocus: true, autocomplete: 'username', class: 'form-control' %>
              </div>
            </div>
          </div>
          <br/>
          <div class='form-row align-items-center'>
            <div class='col'>
              <div class='input-group mb-1'>
                <span class='input-group-text'>
                  <i class='fas fa-key text-primary'></i>
                </span>
                <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
              </div>
            </div>
          </div>
          <br/>
          <div class='form-row align-items-center'>
            <div class='d-grid gap-2'>
              <%= button_tag(type: 'submit', class: 'btn btn-white') do %>
                <i class='fas fa-sign-in-alt'></i>&nbsp;&nbsp;ACCEDI
              <% end %>
            </div>
          </div>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
</div>
