<div class='card border-primary shadow' id='<%= dom_id overtime %>'>
  <div class='card-header bg-primary %> text-white'>
    <strong>
      <span class='float-start'>
        <i class='fas fa-user-circle'></i>
        &nbsp;
        <%= overtime_full_user(overtime).upcase %>
        &emsp; Ore Straordinarie
      </span>
      <span class='float-end'>
        <%= link_to overtimes_url , class: 'a-light' do %>
          <i class='fas fa-times'></i>
        <% end %>
      </span>
    </strong>
  </div>
  <div class='card-body'>
    <strong class='text-primary'>
      Data:&emsp;<%= l(overtime.start_time, format: '%A %d %B %Y') %>
      &emsp;
      Dalle Ore:&emsp;<%= l(overtime.start_time, format: '%H:%M') %>
      &emsp;
      Alle Ore:&emsp;<%= l(overtime.end_time, format: '%H:%M') %>
    </strong>
    <hr/>
    Zona:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= overtime.user.zone.name %>
    <br/>
    Reparto:&nbsp;&nbsp;&nbsp;<%= overtime.user.department.name %>
    <hr />
    Note:
    <br/>
    <%= overtime.description %>
    <hr/>
    <br/>
    <div class='row'>
    </div>
    <span class='float-start'>
      <% if owner?(overtime) %>
        <%= link_to edit_overtime_path(@overtime), class: 'btn btn-outline-light btn-sm', title: 'Modifica il record corrente', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do %>
          <i class='fas fa-edit text-warning'></i>
        <% end %>
      <% end %>
    </span>
    <span class='float-end'>
      <% if owner?(overtime) %>
        <%= button_to @overtime, method: :delete, form: {data: {turbo_confirm: 'Sicuri di voler eliminare il record corrente?'}}, class: 'btn btn-outline-light btn-sm', title: 'Elimina il record corrente', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do %>
          <i class='fas fa-trash-alt text-danger'></i>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
