<div id="<%= dom_id absence %>">
  <p>
    <strong>Name:</strong>
    <%= absence.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= absence.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= absence.end_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= absence.user_id %>
  </p>

  <p>
    <strong>Absence type:</strong>
    <%= absence.absence_type_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= absence.description %>
  </p>

</div>
