<h3 class='text-primary'>
  <%= inline_svg_tag 'icon_list.svg', size: '48px * 48px', preserve_aspect_ratio: 'xMaxYMax meet' %>
  &emsp;
  Elenco Assenze
  <span class='float-end'>
    <strong>
      FERIE
    </strong>
  </span>
</h3>
<hr class='hr-primary' />
<table class='table table-striped'>
  <thead>
    <tr>
      <td class='text-primary'>
        <strong>
          Operatore:
        </strong>
      </td>
      <td class='text-primary'>
        <strong>
          Periodo:
        </strong>
      </td>
      <td class='text-primary'>
        <strong>
        </strong>
      </td>
      <td class='text-primary'>
        <strong>
          Assenza:
        </strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @total = 0 %>
    <% @absences.each do |absence| %>
      <tr>
        <td>
          <strong class='text-primary'>
            <i class='far fa-user text-primary'></i>
            &emsp;
            <%= "#{absence.user.last_name} #{absence.user.first_name}".truncate(19) %>
          </strong>
        </td>
        <td>
          <strong class='text-primary'>
            <i class='far fa-calendar text-primary'></i>
            &emsp;
            <% unless absence.end_time == absence.start_time %>
              <%= l(absence.start_time, format: '%d/%m/%Y') %>
              &nbsp;
              <i class='fas fa-arrows-alt-h text-primary'></i>
              &nbsp;
              <%= l(absence.end_time, format: '%d/%m/%Y') %>
            <% else %>
              <%= l(absence.start_time, format: '%d/%m/%Y') %>
            <% end %>
          </strong>
        </td>
        <td>
          <strong class='text-primary %>'>
            FERIE
          </strong>
        </td>
        <td>
          <strong class='text-primary'>
            <%= absence_duration(absence).round %>
            &emsp;
            <% unless absence_duration(absence) > 1 %>
              giorno
            <% else %>
              giorni
            <% end %>
          </strong>
        </td>
      </tr>
      <% @total = @total + absence_duration(absence).round %>
    <% end %>
  </tbody>
</table>
<br/>
<hr class='hr-primary'/>
<span class='float-end'>
  <strong class='text-danger'>
    Totale giorni di assenza:&emsp;<%= @total %>
  </strong>
</span>
