<h3 class='text-primary'>
  <%= inline_svg_tag 'icon_calendar_month.svg', size: '48px * 48px', preserve_aspect_ratio: 'xMaxYMax meet' %>
  &emsp;
  Calendario Assenze - Mensile
</h3>
<hr class='hr-primary'/>
<%= month_calendar(events: @absences) do |date, absences| %>
  <% if date.wday == 0 || date.wday == 6 %>
  <% else %>
    <div class='card bg-light mb-1 shadow'>
      <div class='card-header text-center'>
        <span class='text-primary'>
          <i class='fas fa-calendar-day'></i>
          &nbsp;
          <%= l(date, format: '%a %d') %>
        </span>
        &emsp;
        <span class='text-secondary'>
          <%= l(date, format: '%b') %>
        </span>
      </div>
      <div class='card-body'>
        <% absences.each do |absence| %>
          <span class='badge bg-<%= absence_type?(absence) %> mb-1'>
            <i class='<%= absence_type_icon?(absence) %>'></i>
            &nbsp;
            <%= absence.user.last_name %>&nbsp;<%= absence.user.first_name %>
          </span>
          <br/>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
