<p style="color: green"><%= notice %></p>
<%= render @howto %>
<div>
  <% if can? :manage, Howto %>
    <%= link_to "Edit this howto", edit_howto_path(@howto) %> |
    <%= button_to "Destroy this howto", 
                  howto_path(@howto), 
                  method: :delete, 
                  confirm: 'Sei sicuro di voler Eliminare il Record Corrente?' %>
  <% end %>
  <%= link_to "Back to howtos", howtos_path %>
</div>
