<nav class='navbar navbar-expand-lg navbar-dark bg-primary fixed-top'>
  <div class='container-fluid'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= inline_svg_tag 'navbar_logo.svg', size: '175px * 32px', preserve_aspect_ratio: 'xMaxYMax meet' %>
    <% end %>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarColor01'>
      <ul class='navbar-nav me-auto'>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
            <i class='fas fa-calendar-alt'></i>&emsp;Assenze
          </a>
          <div class='dropdown-menu'>
            <%= link_to absences_path, class: 'dropdown-item' do %>
              <i class='fas fa-calendar-week'></i>&emsp;Calendario Settimanale
            <% end %>
            <%= link_to monthly_view_absences_path, class: 'dropdown-item' do %>
              <i class='far fa-calendar-alt'></i>&emsp;Calendario Mensile
            <% end %>
            <%= link_to new_absence_path, class: 'dropdown-item' do %>
              <i class='fas fa-plus'></i>
              &nbsp;
              <i class='fas fa-calendar-day'></i>
              &emsp;Inserisci una Nuova Assenza
            <% end %>
          </div>
        </li>
      </ul>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item'>
          <%= link_to edit_user_registration_path, class: 'nav-link' do %>
            <i class='fas fa-user-circle'></i>&nbsp;&nbsp;<%= full_user %>
          <% end %>
        </li>
        <li class='nav-item dropstart'>
          <a class='nav-link dropdown' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
            <i class='fas fa-bars'></i>
          </a>
          <div class='dropdown-menu'>
            <% if admin? %>
              <%= link_to rails_admin_path, class: 'dropdown-item'  do %>
                <i class='fas fa-user-cog'></i>&nbsp;&nbsp;Amministrazione
              <% end %>
            <% end %>
            <%= link_to dashboard_credits_path, class: 'dropdown-item'  do %>
              <i class='fas fa-user-edit'></i>&nbsp;&nbsp;Crediti
            <% end %>
            <div class='dropdown-divider'></div>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class='fas fa-door-open'></i>&nbsp;&nbsp;Esci
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
