<!DOCTYPE html>
<html>
  <head>
    <title>Heimdallr</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body>
    <div class='container'>
      <% if user_signed_in? %>
        <%= render 'layouts/logged' %>
      <% else %>
        <%= render 'layouts/unlogged' %>
      <% end %>
    </div>
  </body>
</html>
